<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
<h1>Hello</h1>
{% comment %}
cudzysłów ' lub " albo zmienna
może zawierać ścieżkę względną ./ lub ../
w inkludowanym szablonie będą dostępne zmienne z kontekstu
w razie braku szablonu w DEBUG dostaniemy TemplateDoesNotExist
poza DEBUG - silent fail - nic się nie wyświetli w miejscu taga
nie ma zapisu stanu między szablonami (informacja o share)
każdy include to oddzielny proces renderowania szablonu
bloki są przetwarzane przez inkludowaniem
{% endcomment %}
{% include included_template %}
{% comment %}
escaping dla HTML przed przekazaniem na output, z wcześniej wykonanymi filtrami
alternatywnie można dać filtr escape każdej zmiennej
nie działa ze zmiennymi, które w kodzie pythona są oznaczone safe
lub mają filtr safe bądź już zastosowany filtr escape
{% endcomment %}
{% autoescape on %}
    autoescape{{ sample_html|upper }}autoescape
{% endautoescape %}
</body>
</html>